*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

button {
    background-color: #C1000A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #900007;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #C1000A;
    margin-bottom: 20px;
}

h3 {
    color: #C1000A;
    margin-bottom: 10px;
}

a {
    color: #C1000A;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #900007;
}

.caissa {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fila {
    display: flex;
    width: 100%;
    gap: 5px;
}

#contenidor {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#formulariDialecte {
    height: 21em;
    flex: 0 0 30%;
}

#wiki {
    height: 21em;
    flex: 0 0 70%;
    overflow: scroll;
}

#parametres {
    flex: 1 1 100%;
}

#botons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}