:root {
    --color-primari: #DD0000;
    --color-segondari: #FFD700;
    --color-accent: #007A5E;
    --color-fons: #FFF5E6;
    --color-texte: #333333;
    --color-fons-caissa: #FFFFFF;
    --color-boton-hover: #B80000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fons);
    color: var(--color-texte);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    margin: 30px 0 30px 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    gap: 20px;
}


h1 {
    font-weight: 700;
    margin: 0;
}

h2 {
    color: var(--color-primari);
    margin-bottom: 20px;
    font-size: larger;
}

a {
    color: var(--color-primari);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-segondari);
}

.caissa {
    background: var(--color-fons-caissa);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rengada {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}


#wiki {
    flex: 0 0 70%;
    overflow-y: auto;
    max-height: 100%;
}

#formulariDialecte {
    flex: 0 0 30%;
}

#parametres {
    width: 100%;
}

.mesme-nautor {
    display: flex;
    align-items: stretch;
    max-height: 400px;
}

#botons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn.primari {
    background-color: var(--color-primari);
    color: white;
}

.btn.primari:hover {
    background-color: var(--color-segondari);
}

.btn.segondari {
    background-color: #e0e0e0;
    color: var(--color-texte);
}

.btn.secondary:hover {
    background-color: #d0d0d0;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .wiki-section,
    .form-section {
        flex: 0 0 100%;
    }
}