body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

button {
    background-color: #C1000A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #210102;
}

.mandarDialecteBoton {
    text-align: left;
}

h1 {
    font-stretch: extra-expanded;
    text-align: center;
    color: #C1000A;
}

h3 {
    color: #C1000A;
}

.caissa {
    margin: 5px 5px 5px 5px;
    background: white;
    padding: 10px 30px 15px 25px;
    border-radius: 8px;
    box-sizing: border-box;
}

#contenidor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fila {
    display: flex;
    width: 100%;
}

#formulariDialecte {
    flex: 0 0 29%;
}

#wiki {
    flex: 0 0 70%;
}

#parametres {
    flex: 0 0 100%;
}

textarea {
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;
}