*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    font-family: Helvetica;
    font-size: 1.1rem;
}

h1 {
    text-align: center;
    font-size: 2.0rem;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 50%;
}